<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.su.dao.ProductDao">

    <select id="findById" parameterType="integer" resultType="com.su.entity.Product">
        
    </select>

    <update id="update" parameterType="com.su.entity.Product">

    </update>
</mapper>